.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: lightgray;
}

#sidebar.active {
  margin-left: -250px;
}

.aaa {
  width: 100%;
}

.aaa:hover{
  background-color: gray;
  color: whitesmoke;
}

.calendar {
  background-color: aqua;
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
}

.navbar {
  border-radius: 0px !important;
}

.tgl {
  background-color: #343a40;
  border-radius: 2px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.tgl:hover {
  border-color: mediumturquoise;
}

.tgl .navbar-toggler-icon :hover{
  color: mediumturquoise;
}