body, html {
  height: 100%;
  margin: 0;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.centering {
  text-align: center;
}

.btn_room {
  margin-top: 20px;
}

.btn_font {
  font-size: 200%;
}

.rightButton {
  color: rgba(34, 255, 181, 0.719)!important; 
  border-color: rgba(34, 255, 181, 0.719)!important;
}

.leftButton {
  color: rgba(78, 78, 78, 0.719)!important; 
  border-color: rgba(78, 78, 78, 0.719)!important;
}

.rightButton:hover {
  background-color:   rgba(34, 255, 181, 0.719)!important;
  color: rgba(78, 78, 78, 0.719)!important;
}

.leftButton:hover {
  background-color:   rgba(78, 78, 78, 0.719)!important;
  color: rgba(34, 255, 181, 0.719)!important;
}

.parallax { 
  /* The image used */
  background-image: 
    linear-gradient(90deg, rgba(34, 255, 181, 0.719) 50%, rgba(78, 78, 78, 0.719) 50%), url('../img/Calendar-Background.png');

  /* Set a specific height */
  /*height: 20%; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {

  /*
  background-image: 
  
  linear-gradient(90deg, rgba(34, 255, 181, 0.719) 50%, rgba(78, 78, 78, 0.719) 50%), 

  url('../img/Calendar-Background.png');
  
  background-repeat: no-repeat;
  background-size: cover;
  */

  /*gradient */
  background: linear-gradient(90deg, rgba(34, 255, 181, 0.719), rgba(78, 78, 78, 0.719));
  z-index: 1;
  
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

@media only screen and (max-device-width: 1024px)
 {
   .bgimg-1, .bgimg-2, .bgimg-3 {
     background-attachment: scroll;
   }
 }