#month_header{
	background-color:black;
	padding: 0px;
}

#date{
	color:white;
	font-family: "Tangerine", serif;
	font-weight: bold;
	font-size: 100px;
}

#sch_cal{
	padding-left:15px;
	padding-right:15px;
}

#nav_bnt{
	color:white;
	padding-top:15px;
	background-color: #222;
}

div[class="navbar-header"]{
	font-size:30px;
	cursor:pointer; 
	padding-left:0px; 
	padding-right:10px;
}

td,tr,th{
	padding:0px;
	height:0px;
	text-align:center;
}